
img{
    width: 35%;
    float: left;
}
div{
    text-align: left;
}
p{
    font-size: 30px;
    color:blue;
}
span{
    position: relative;
    left: 300px;
    
}
h3{
    font-size: 30px;
   

}
li{
    list-style-type: none;
    float: left;
    margin:15px;
    border: solid;
    padding: 15px;
    font-size: 15px;
}
div#recomendaciones{

    width: 600px;
    height: 300px;
      
}
